[submodule "vim-fugitive"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Nvim-R"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
    branch = master
[submodule "vim-gitgutter"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "UltiSnips"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/UltiSnips
	url = https://github.com/sirver/UltiSnips.git
[submodule "vim-table-mode"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "dracula"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/dracula
	url = https://github.com/dracula/vim.git
[submodule "pandoc-syntax"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-pandoc-syntax
    url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vim-addon-mw-utils"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "tlib_vim"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-devicons"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "gitstatus"]
	path = zsh/.zsh/gitstatus
	url = https://github.com/romkatv/gitstatus.git
[submodule "pyenv/.pyenv"]
	path = pyenv/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "pyenv-virtualenv"]
	path = pyenv-plugins/.pyenv/plugins/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
[submodule "pyenv-pip-migrate"]
	path = pyenv-plugins/.pyenv/plugins/pyenv-pip-migrate
	url = git://github.com/pyenv/pyenv-pip-migrate.git
[submodule "vim-slime"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim-surround"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim-lsp"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp.git
[submodule "completion-nvim"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule "diagnostic-nvim"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/diagnostic-nvim
	url = https://github.com/nvim-lua/diagnostic-nvim.git
[submodule "completion-buffers"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/completion-buffers
	url = https://github.com/steelsojka/completion-buffers.git
[submodule "vim-pandoc"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "auto-pairs"]
	path = Neovim/.local/share/nvim/site/pack/Plugins/opt/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
