*
/*

!.gitignore
!.gitmodules

!.scripts/
!.scripts/*
!.scripts/*.zsh

!.snippets/
!.snippets/*
!.snippets/*.snippets

!.csl/
!.csl/*
!.csl/*.csl

!.custom/
!.custom/*
!.custom/*/
!.custom/*/*
!.custom/*/*/
!.custom/*/*/*

!.oh-my-zsh/
!.oh-my-zsh/*

!.vimrc
!.zshrc
!.tmux.conf

!README.md
