*
/*

!.gitignore
!.gitmodules

!.scripts/
!.scripts/*
!.scripts/*.zsh

!snippets/
!snippets/*
!snippets/*.snippets

!.csl/
!.csl/*
!.csl/*.csl

!.vimrc
!.zshrc
!.tmux.conf
!homebrewpackages.txt
!homebrewcask.tx
!README.md
