*
/*

!.gitignore
!.gitmodules

!.scripts/
!.scripts/*
!.scripts/*.zsh

!.snippets/
!.snippets/*
!.snippets/*.snippets

!.csl/
!.csl/*
!.csl/*.csl

!.custom/
!.custom/*
!.custom/*/
!.custom/*/*
!.custom/*/*/
!.custom/*/*/*

!.config/
!.config/*
!.config/*/
!.config/*/*
!.config/*/*/
!.config/*/*/*

!.tmux/plugins/tpm/
!.tmux/plugins/tpm/*
!.tmux/plugins/tpm/*/
!.tmux/plugins/tpm/*/*
!.tmux/plugins/tpm/*/*/
!.tmux/plugins/tpm/*/*/*

!.oh-my-zsh/
!.oh-my-zsh/*

!.vimrc
!.zshrc
!.tmux.conf

!README.md
